.basic-layout {
	min-height: 100vh;
	background-image: url("https://gamer-ecommerce.s3.amazonaws.com/static/SAM_2245.jpg");
	background-size: cover;
	background-position: center;
	padding-left: 0 !important;
	padding-right: 0 !important;

	.content {
		background-color: $background-gray-light;
		height: calc(100vh - 130px);
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
		overflow-y: scroll;

		&::-webkit-scrollbar {
			display: none !important;
		}

		&::-moz-scrollbar {
			display: none;
		}
	}
}
